// Place all the styles related to the pronostics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pronostic .table{
  width: 60%;
  margin: 0 auto !important;
  float: none !important;
}

.pronostic .table td {
  text-align: center;
}

.result_prono_img {
  height: 300px;
}

.result .table{
  margin: 0 auto !important;
  float: none !important;
}
.result .table td {
  text-align: center;
}

.versus{
  width: 40px;
  height: 40px;
}

@media (max-width: 480px) {
  .versus{
    width: 20px;
    height: 20px;
  }
}
