<footer class="footer">
  <div class="container">
    <p>Conçu entre développeurs antillais lors d'un évènement <a href="https://www.facebook.com/MartiniqueTech">MartiniqueTech</a> appelé <a href="https://www.facebook.com/MartiniqueTech">CodingBélé</a>,</p>
    <p>FootiBon est le jeu permettant de défier ses amis en pronostiquant les résultats des matchs</p>
    <p>de la plus grande compétition mondiale de Foot en 2014.</p>
    <p class="pull-right"><a href="#">Retour en haut</a></p>
    <ul class="footer-links">
      <!--li><a href="https://www.facebook.com/MartiniqueTech">Contact</a></li-->
      <li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.footibon.com&amp;width&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=723155264407551" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe></li>
    </ul>
  </div>
</footer>